* {
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    background: #DEDED7;
    min-height: 100vh;
    margin: 0;
  }

/*___________________*/

.container {
    max-width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    z-index: 2;
    position: absolute;
}

.row {
    top: -340px;
    display: flex;
    justify-content: space-between; 
    z-index: 4;
    width: 100%;
}

.logo-image img {
    margin-right: auto;
}

.menubar {
    justify-content: space-between;
  }

  .section-zero-container {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .section-zero {
    display: flex;
    margin-left: auto; /* Align to the right side */
    margin-top: 20px;
    margin-right: 40px;
  }

  .hours {
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    white-space: nowrap;
  }

  .hours a {
    text-decoration: none;
    color: #181926;
    font-weight: 500;
}


.hours,
.dropdown {
    text-align: right;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.dropdown,
.dropdown-content {
    text-align: right;
}

.language {
    display: flex;
    flex-direction: row; /* Align items in a row */
    margin-left: 150px;
}

.dropdown-content p {
    color: #DEDED7;
    padding: 10px 10px;
    text-decoration: underline;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    white-space: nowrap; /* Prevent text wrapping */
    justify-content: right;
}

.language p:hover {
    background-color: #323232;
}

.dropbtn {
    font-size: 40px;
    background: none;
    border: none;
    color: #181926;
    cursor: pointer;
    margin-left: 10px; /* Adjust margin to create space between hours and dropdown */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181926;
    min-width: 300px;
    min-height: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-top: -10px;
    top: 60px; 
    right: 40px; 
    white-space: nowrap; 
}

.dropdown-content a {
    color: #DEDED7;
    padding: 20px 40px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: #323232;
}

.dropdown.show .dropdown-content {
    display: block;
    margin-left: 20px;
    margin-right: -40px;
    justify-content: end;
    text-align: right;
}


/*_______________*/

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}


.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100%;
}

.row1 img {
    width: 700px;
    margin: auto; /* Add margin: auto to center the image horizontally */
    display: block; /* Ensure that the image is treated as a block element */
}


/*_______________*/

.section-two {
   width: 100%;
   height: 200px;
}

.row2, .row3 {
    text-align: center;
    align-items: center;
    display: flex; 
    justify-content: center;
}


.download-kort,
.download-guide {
    margin: 5px;
    padding: 15px 30px; 
    font-size: 15px;
    color: #DEDED7; 
    border: 2px solid #4141BA;
    border-radius: 5px; 
    cursor: pointer; 
}

.download-kort a,
.download-guide a {
    text-decoration: none;
    color: #181926;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.row2 {
    margin-top: -60px;
}

.download-kort:hover,
.download-guide:hover {
    background-color: #8184ce96;
}




/*_______________*/

.section-three {
    width: 100%;
    margin-left: 25px;
}

.p-titel1 {
    font-family: 'Jost', sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin-top: 80px;
}


/*_______________*/

.row4 {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.column {
    flex: 1;
    text-align: left;
    padding: 20px;
    display: flex;
}

.container-1 img {
    width: 50px;
    margin-right: 10px;
    margin-top: -370px;
}

.container-1 {
    margin-left: 10px;
}

.p-titel-container {
    width: 500px;
    height: 400px;
    color: #181926;
}

.p-titel2 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 5px;
}

.p-1 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.container-2 img {
    width: 50px;
    margin-right: 10px;
    margin-top: -370px;
}

.container-2 {
    width: 600px;
}

.p-titel-container2 {
    display: flex;
    flex-direction: column;
    width: 600px;
    color: #181926;
}

.p-2 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

/*___________*/

.row5 {
    display: flex;
    width: 100%;
}


.container-3 img {
    width: 50px;
    margin-right: 10px;
    margin-top: -210px;
}

.container-3 {
    width: 500px;
    margin-top: 40px;
    margin-left: 12px;
}

.p-titel3 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 5px;
    color: #181926;
}

.p-3 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #181926;
    width: 500px;
}

.container-4 img {
    width: 50px;
    margin-right: 10px;
    margin-top: -210px;
}

.container-4 {
    width: 600px;
    margin-top: 40px;
}

.p-titel-container4 {
    display: flex;
    flex-direction: column;
    width: 600px;
    color: #181926;
}

.p-4 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.p-titel4 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.row5 {
    display: flex;
    width: 100%;
}


.container-5 img {
    width: 50px;
    margin-right: 10px;
    margin-top: -10px;
}

.container-5 {
    width: 500px;
    margin-top: 40px;
    margin-left: 12px;
    position: relative;
    display: flex; /* Add display: flex */
    align-items: flex-start; /* Align items to the start */
}



.p-titel-5, .container-5 {
    display: flex;
    flex-direction: row;
    width: 500px;
    color: #181926;
    margin-top: 20px; /* Juster denne værdi i overensstemmelse med dit layout */
}

.p-titel5 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 5px;
    color: #181926;
}

.p-5 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #181926;
    width: 500px;
}

.row6 {
    display: flex;
    width: 100%;
    flex-wrap: wrap; /* Ensure proper wrapping of content */
}

.column1 .container-6 {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: -300px;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}


.container-6 {
    width: 590px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 810px; /* Adjust as needed */
    justify-content: flex-end;
    align-items: flex-end;
}

.p-titel6 {
font-family: 'Jost', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: underline;
color: #181926;
margin-bottom: 20px;
margin-right: 0px;
width: 100%;
}

.p-titel60 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    color: #181926;
    margin-left: 10px;

}

p-6 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    color: #181926;
}

.collapsible {
    background-color: #c3c3bd;
    color: white;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    border-bottom: 2px solid #DEDED7; /* Add this line for the border */
    outline: none;
    font-size: 15px;
    display: flex;
    width: 200px;
  }
  
  .active, .collapsible:hover {
    background-color: #f1f1f1;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }


  .collapsible, .content {
    width: 100%;
  }
  


.row7 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 10px;
}

.container-7 img {
    width: 50px;
    margin-right: 10px;
    margin-top: -10px;
}

.container-7 {
    width: 50%; /* Adjust the width as needed */
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.p-titel7 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 5px;
    color: #181926;
}

.p-7 {
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #181926;
    width: 500px;
}

/*__________________*/

.section-three {
    width: 100%;
}

.section-three img {
    align-items: flex-start;
    justify-content: flex-start;
}

.row8 {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: space-between; /* Add this line */

}


.tekst-blok1 {
    width: 590px;
    margin-top: 8px;
    text-align: left;
    margin-right: 80px;
}

.p-titel8 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    color: #181926;
    order: 2; /* Add this line */
    margin-top: -20px;
}

.p-titel80 {
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #181926;
}

.læs-udstillinger {
    display: block;
    background-color: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #AB1D1F;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 122px;
}

.læs-udstillinger a {
    color: #181926;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.læs-udstillinger:hover {
    background-color: #ab1d1fc6;
}


/*____________________*/


.section-four {
    width: 100%;
}

.section-four img {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 40px;
}

.row9 {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: space-between; /* Add this line */

}

.tekst-blok2 {
    width: 590px;
    margin-top: 8px;
    text-align: left;
    margin-left: 25px;
}

.p-titel9 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    color: #181926;
    order: 2; /* Add this line */
    margin-top: -20px;
}

.p-titel90 {
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #181926;
}

.læs-her {
    display: block;
    background-color: white;
    color: white;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #AB1D1F;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 222px;
}

.læs-her a {
    color: #181926;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.læs-her:hover {
    background-color: #ab1d1fc6;
}


/*_____________*/

.section-five {
    width: 100%;
}

.section-five img {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px;
}

.row10 {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: space-between; /* Add this line */

}


.tekst-blok3 {
    width: 590px;
    margin-top: 8px;
    text-align: left;
    margin-right: 80px;
}

.p-titel10 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    color: #181926;
    order: 2; /* Add this line */
    margin-top: -20px;
}

.p-titel100 {
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #181926;
}

.læs-mere {
    display: block;
    background-color: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #AB1D1F;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 125px;
}

.læs-mere a {
    color: #181926;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.læs-mere:hover {
    background-color: #ab1d1fc6;
}


/*____________________*/


.section-six {
    width: 100%;
}

.section-six img {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 40px;
}

.row11 {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: space-between; /* Add this line */

}

.tekst-blok4 {
    width: 600px;
    margin-top: 8px;
    text-align: left;
    margin-left: 25px;
}

.p-titel11 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    color: #181926;
    order: 2; /* Add this line */
    margin-top: -20px;
}

.p-titel111 {
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #181926;
}

.pauser {
    display: block;
    background-color: white;
    color: white;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #AB1D1F;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 173px;
}

.pauser a {
    color: #181926;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.pauser:hover {
    background-color: #ab1d1fc6;
}

/*_____________*/

.section-seven {
    width: 100%;
}

.section-seven img {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px;
}

.row12 {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: space-between; /* Add this line */

}


.tekst-blok5 {
    width: 590px;
    margin-top: 8px;
    text-align: left;
    margin-right: 80px;
}

.p-titel12 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    color: #181926;
    order: 2; /* Add this line */
    margin-top: -20px;
}

.p-titel120 {
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #181926;
}

.cafe {
    display: block;
    background-color: white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #AB1D1F;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 173px;
}

.cafe a {
    color: #181926;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.cafe:hover {
    background-color: #ab1d1fc6;
}


/*____________________*/


.section-eight {
    width: 100%;
}

.section-eight img {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 40px;
    background-position: bottom;
}

.row13 {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: space-between; /* Add this line */

}

.tekst-blok6 {
    width: 600px;
    margin-top: 8px;
    text-align: left;
    margin-left: 25px;
}

.p-titel13 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    color: #181926;
    order: 2; /* Add this line */
    margin-top: -20px;
}

.p-titel133 {
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    color: #181926;
}

.shop {
    display: block;
    background-color: white;
    color: white;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #AB1D1F;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 148px;
}

.shop a {
    color: #181926;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.shop:hover {
    background-color: #ab1d1fc6;
}




/*__________________Footer___________________*/


.row14 {
    position: relative;
    display: flex;
    margin-top: 200px;
    margin-left: -30px;
    height: 400px;
    margin-bottom: -10px;
}

.background-image2 {
    width: 110vw;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.5%;
    height: 400px;
    z-index: 2;
}

.logo-footer {
    position: relative;
    z-index: 2;
    margin-left: 45px;
    margin-top: 100px;
}

.logo-footer img{
    width: 200px;
}

.p-11 {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    z-index: 3;
    color: #DEDED7;
    margin-left: 80px;
    margin-top: 40px;
}

.p-12 {
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    z-index: 2;
    color: #DEDED7;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
}

.p-12 a {
    text-decoration: none;
    color: #DEDED7;
}

.vertical-line {
    border-left: 2px solid #DEDED7;
    height: 200px;
    margin-left: 70px;
    margin-top: 100px;
    z-index: 2;
}

.p-13 {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    z-index: 2;
    color: #DEDED7;
    margin-top: 40px;
    margin-left: 80px;
}

.p-14 {
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    z-index: 2;
    color: #DEDED7;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
}

.p-14 li a {
    text-decoration: none;
    color: #DEDED7;
}

.p-14 li a:hover {
    background-color: #8C2B3D;
}


.some {
    margin-top: 30px;
}

.some .mdi {
    font-size: 30px;
    text-decoration: none;
    color: #DEDED7;
    list-style: none;
}

.some .mdi:hover {
    color: #AB1D1F;
}






/*_____________*/



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (width <= 600px) {
    

    .row1 {
      flex-direction: column;
      width: 100%;
    }

    .row1 img {
        width: 100%;
    }
  
    .row4 {
        flex-direction: column;
        width: 100%;
    }

    .container-2 img {
        margin-top: -405px;
    }

    .p-titel-container2 {
        width: 80%;
    }

    .row5 {
        flex-direction: column;
        width: 100%;
    }

    .container-4 img {
        margin-top: -190px;
    }

    .row6 {
        flex-direction: column;
        width: 100%;
    }

    .collapsible .content {
        flex-direction: column;
        width: 80%;
        
    }

    .container-6 {
        margin-left: 80px;
        position: relative;
    }

    .row8 {
        flex-direction: column;
        width: 100%;
    }

    .tekst-blok1 {
        width: 90%;
        margin-top: 20px;
    }

    .row9 {
        flex-direction: column;
        width: 100%;
    }

    .tekst-blok2 {
        width: 90%;
        margin-top: 20px;
    }

    .row10 {
        flex-direction: column;
        width: 100%;
    }

    .tekst-blok3 {
        width: 90%;
        margin-top: 20px;
        margin-left: 25px;
    }

    .row11 {
        flex-direction: column;
        width: 100%;
    }

    .tekst-blok4 {
        width: 90%;
        margin-top: 20px;
    }

    .row12 {
        flex-direction: column;
        width: 100%;
    }

    .tekst-blok5 {
        width: 90%;
        margin-top: 20px;
        margin-left: 25px;
    }

    .row13 {
        flex-direction: column;
        width: 100%;
    }

    .tekst-blok6 {
        width: 90%;
        margin-top: 20px;
    }


    
    }